//colors
$dark-color:#0c0d13;
$light-color:#d0d6f9;
$lighter-color:#ffffff;


//font families
$font-bellfair: 'Bellefair', serif; 
$font-barlow:'Barlow Condensed', sans-serif;

//font sizes

$font-size: ("head-one":9.375rem,
            "head-two":6.25rem,
            "head-three":3.5rem,
            "head-four":2rem,
            "head-five":1.75rem,
            "sub-head-one":1.75rem,
            "sub-head-two":0.875rem,
            "nav-txt":1rem);
$font-normal:400;
$font-bold:700;

$char-space: ("head-five":0.296875rem , "sub-head-two":0.146875rem, "nav-txt":0.16875rem)

// screen sizes

