* {
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    // font-size: 16px;
    
}

body{
    font-size: 16px;
   // overflow-y: hidden;
    //padding-bottom: 2.5rem;
}

a{
    text-decoration: none;
    color:$lighter-color;
   
}

//utiliity classes

.inline_block{
    display: inline-block;
}

.block{
    display:block;

}

.container {
    margin-left: auto;
    margin-right: auto;
    &__px{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &__py{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &__pl{
        padding-left: 1.5rem;
    }

    &__pr{
        padding-right: 1.5rem;
    }

    &__pt{
        padding-top: 1.5rem;
    }

    &__pb{
        padding-bottom: 1.5rem;
    }

    &__pall{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

}

.flex{
    display:flex;

    &__row {
        flex-direction: row;
    }

    &__column {
        flex-direction: column;
    }

    &__sb {
        justify-content: space-between;
    }

    &__se {
        justify-content: space-evenly;
    }

    &__sa {
        justify-content: space-around;
    }

    &__center {
        align-items: center;
    }
    
}


