<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
  <link rel="stylesheet" href="../css/main.css">
  <title>Frontend Mentor | @mauryahdx | Space tourism website</title>
</head>
<body class="home">

  <header class="header">
    <nav>
      <div class="header__logo">
        <img src="../assets/shared/logo.svg" alt="">
      </div>
      <div id="nav_links" class="header__links">
        <span class="header__line"></span>

 
          <a id="home" class="current" href="./index.html"><span>00</span>HOME</a>
          <a id="destination" href="./destination-moon.html"><span>01</span>DESTINATION</a>


       
          <a id="crew" href="./crew-commander.html"><span>02</span>CREW</a>
          <a id="technology" href="./technology-vehicle.html"><span>03</span>TECHNOLOGY</a>
        

      </div>
      <div id="hamburger" class="header__hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </header>

  <section class="home__hero" role="main">
    <div class="home__hero__text">
      <h5 class="home__hero__text__h5">SO, YOU WANT TO TRAVEL TO  </h5>
      <h1 class="home__hero__text__h1">SPACE</h1>
      <p class="home__hero__text__p">
        Let’s face it; if you want to go to space, you might as well genuinely go to 
        outer space and not hover kind of on the edge of it. Well sit back, and relax 
        because we’ll give you a truly out of this world experience!
      </p>

    </div>
    <a href="./destination-moon.html">
      <div class="home__hero__circle">
        <h5 class="home__hero__circle__h5">
          EXPLORE
        </h5>
      </div>
    </a>
  </section>
  
  <script src="../app/js/main.js"></script>
</body>
</html>



