<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
  <link rel="stylesheet" href="../css/main.css">
  
  <title>Frontend Mentor | @mauryahdx | Space tourism website</title>
</head>
<body class="technology">
  <header class="header">
    <nav>
      <div class="header__logo">
        <img src="../assets/shared/logo.svg" alt="">
      </div>
      <div id="nav_links" class="header__links">
        <span class="header__line"></span>

 
          <a id="home" class="" href="./index.html"><span>00</span>HOME</a>
          <a id="destination" href="./destination-moon.html"><span>01</span>DESTINATION</a>


       
          <a id="crew" href="./crew-commander.html"><span>02</span>CREW</a>
          <a id="technology" class="current" href="./technology-vehicle.html"><span>03</span>TECHNOLOGY</a>
        

      </div>
      <div id="hamburger" class="header__hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </header>
  <section class="technology__hero">

    <div class="heading">
      <span class="heading__num">03</span>
      <span class="heading__txt">Space launch 101</span>
    </div>
   
    <div class="technology__hero__content">
      <div class="technology__hero__content__image" >
        <img class="technology__hero__content__image__vehicle" alt="">
      </div>
      <div class="technology__hero__content__text">
        <nav class="technology__hero__content__text__nav">
          <span class="current"><a href="./technology-vehicle.html">1</a></span>
          <span><a href="./technology-spaceport.html">2</a></span>
          <span><a href="./technology-capsule.html">3</a></span>
        </nav>
        <div class="technology__hero__content__text__container">
          <h4 class="technology__hero__content__text__container__txt">The terminology...</h4>
          <h2 class="technology__hero__content__text__container__title">
            Launch vehicle
          </h2>
          <p class="technology__hero__content__text__container__description">
            A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a 
            payload from Earth's surface to space, usually to Earth orbit or beyond. Our 
            WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, 
            it's quite an awe-inspiring sight on the launch pad!
          </p>
        </div>

      </div>
    </div>
    
  </section>


  
  


  <script src="../app/js/main.js"></script>
</body>
</html>